<div  class="container">
    <h1>List Rooms</h1>
    
        <% @listings.each do |listing| %>
        <div  class="col-md-4">
        <%= image_tag listing.image.url unless listing.image.blank? %>
            <h3><%= listing.name %></h3>
            <p><%= number_to_currency(listing.price) %></p>
            <p><%= listing.address %></p>
            <%= link_to 'Show', listing,class: "btn btn-link" %>
            <% if (user_signed_in?) && (current_user == listing.id)%>
                <%= link_to 'Edit', edit_listing_path(listing),class: "btn btn-link"%>
                <%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-link" %>
           <% end %>
            </div>
        <% end %>
 
    <br>
</div>
<div class="container">
    <% if user_signed_in? %>
    <%= link_to 'New Listing', new_listing_path %>
    <% end  %>
</div>






