
<%= image_tag(@listing.image_url) if @listing.image? %>

<p>
  <strong>Name:</strong>
  <%= @listing.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @listing.address %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<p>
  <strong>Availability from:</strong>
  <%= @listing.availability_from %>
</p>

<p>
  <strong>Availability to:</strong>
  <%= @listing.availability_to %>
</p>

<p>
  <strong>Home type:</strong>
  <%= @listing.home_type %>
</p>

<p>
  <strong>Room type:</strong>
  <%= @listing.room_type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Amenites:</strong>
  <%= @listing.amenites %>
</p>

<p>
  <strong>Maximum guest:</strong>
  <%= @listing.maximum_guest %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
