<div class="container">
  <div class="col-md-3">
    <%= image_tag(@listing.image_url) if @listing.image? %>
     </div>
  <div class="col-md-9">
     <div class="thumbnail">
    <h3><%= @listing.name %></h3>
    <p><%= number_to_currency(@listing.price) %></p>
    <p><%= @listing.address %></p>
    <p><%= @listing.description %></p>
    <p><%= @listing.home_type %></p>
    <p><%= @listing.maximum_guest%></p>
    <p> <%= @listing.availability_from %></p>
    <p><%= @listing.availability_to%></p>
    <p><%= @listing.room_type %></p>
    <p><%= @listing.amenites %></p>
</div>
 
</div>

<%= link_to 'Edit', edit_listing_path(@listing), class:"btn btn-link" %> |
<%= link_to 'Back', listings_path, class:"btn btn-link" %>

</div>


